@mixin display-flex ($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin button {
    background-color: $color-yellow-darker;
    @include display-flex(center);
    justify-content: center;
    font-size: 0.95rem;
    font-weight: 400;
    padding: 13px 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-light;
    transition: all .5s ease-out;

    &:hover {
        background-color: $color-yellow-dark;
        transition: all .5s ease-in;
    }

    @media (max-width: 650px) {
      padding: 11px 25px;
      font-size: 0.85rem; 
    }

}