$color-light: #EEEEEE;
$color-grey: #BBBBBB;
$color-lightGrey: #F9F9F9;
$color-white: #FFFFFF;
$color-dark: #1E1E1E;
$color-yellow: #D4B254;
$color-yellow-dark: #C49d34;
$color-yellow-darker: #BB8F18;
$color-yellow-darkest: #A37907;
$color-title: #333333;