.navbar {
    height: auto;
    @include display-flex(center);
    width: 100%;

    &__wrapper {
        @include display-flex(center);
        flex-direction: column;
        z-index: 30;
    }

    // navbar topbar start design
    &__topBar {
        background-color: $color-dark;
        color: $color-white;
        font-size: 0.9rem;
        font-weight: 300;
        @include display-flex(center);
        width: 100%;
        height: auto;
    }

    &__topBarContainer {
        @include display-flex(space-between);
        width: 1150px;
    }

    &__address {
        @include display-flex(center);
        gap: 0.2rem;

        & span {
            padding-top: 0.3rem;
        }
    }

    &__icon {
        color: $color-yellow-dark;
        font-size: 1.1rem;
        transition: color .3s ease-in;

        &:hover {
            color: $color-white;
        }
    }

    &__topBarRight {
        @include display-flex(center);
        gap: 2rem;
    }

    &__button {
        @include display-flex(center);
        background-color: $color-yellow-darker;
        transition: background-color .3s ease-in;
        height: 35px;

        &:hover {
            background-color: $color-yellow-dark;
        }
        
        & a {
            padding: 1rem 1rem;
            text-decoration: none;
            color: $color-white;
            font-weight: 400;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }

    &__socials {
        @include display-flex(center);
        gap: 0.5rem;
        padding-top: 0.3rem;

        & a {
            color: $color-white;
            transition: color .3s ease-in;

            &:hover {
                color: $color-yellow-dark;
            }
        }
    }

// navbar main start design
    &__main {
        @include display-flex(center);
        background-color: $color-white;
        color: $color-dark;
        font-size: 0.9rem;
        font-weight: 400;
        width: 100vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        height: 65px
    }

    &__container {
        @include display-flex(space-between);
        width: 1150px;
    }

    &__logo {
        @include display-flex(center);
        height: 40px;
        width: 101px;

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__mainSocials {
        display: none !important;
    }

    &__menu {
        @include display-flex(center);
        gap: 0.9rem;
        font-size: 0.9rem;
        font-weight: 500;
        height: 65px;

        & a {
            @include display-flex(center);
            gap: 0.3rem;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-dark;
            transition: color .3s ease-in;
            position: relative;
            height: 100%;

            &:hover {
                color: $color-yellow-darker;

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                width: 0;
                height: 2px;
                background: $color-yellow-darker;
                position: absolute;
                left: 0;
                bottom: 17px;
                transition: 0.4s;
            }

        }

        & span {
            color: $color-yellow-dark;
        }
    }

    &__menuItem {
        position: relative;
        height: 66px;
    }

    &__arrow {
        transition: all 0.4s ease;
    }

    &__menuItem:hover &__arrow {
        transform: rotate(180deg);
    }

    &__submenu {
        @include display-flex(flex-start);
        align-items: flex-start;
        flex-direction: column;
        gap: 0.6rem;
        background-color: $color-white;
        width: 168px;
        position: absolute;
        top: 4.2rem;
        left: -0.9rem;
        max-height: 0;
        overflow: hidden;
        padding-right: 1rem;
        padding-left: 1rem;
        transition: all 0.3s ease-out;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        &--active {
            padding-top: 1.3rem;
            padding-bottom: 2.4rem;
            max-height: 180px;
            transition: all 0.3s ease-in;
            z-index: 10;
        }

        & a {
            transition: all 0.2s ease-out;

            &:hover {
                padding-left: 0.2rem;
                transition: all 0.2s ease-in;

                &::after {
                    width: 0;
                }
            }
        }

        & span {
            height: 1px;
            width: 100%;
            background-color: $color-yellow-darker;
        }
    }

    &__mainMobile {
        @include display-flex(center);
        gap: 1rem;
        display: none;
    }

    &__hamburger {
        display: none;

        &--line{
            width: 25px;
            height: 3px;
            background-color: $color-yellow-darker;
            display: block;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        &:hover{
            cursor: pointer;
        }

        &--active &--line:nth-child(2){
            opacity: 0;
        }

        &--active &--line:nth-child(1){
            -webkit-transform: translateY(8px) rotate(45deg);
            -ms-transform: translateY(8px) rotate(45deg);
            -o-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
        }

        &--active &--line:nth-child(3){
            -webkit-transform: translateY(-8px) rotate(-45deg);
            -ms-transform: translateY(-8px) rotate(-45deg);
            -o-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    &__hamburgerMenu {
        @include display-flex(center);
        flex-direction: column;
        align-items: flex-start;
        gap: 0.7rem;
        position: absolute;
        right: 0;
        max-height: 0;
        width: 260px;
        background: $color-white;
        overflow: hidden;
        transition: all 0.2s ease-out;

        &--active {
            padding: 1.5rem 0 2rem 0;
            max-height: 360px;
            transition: all 0.3s ease-in;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            z-index: 30;
        }

        & a {
            text-decoration: none;
            color: $color-title;
            font-weight: 600;
            text-transform: uppercase;
            padding-left: 2rem;
            font-size: 0.9rem;

            &:hover {
                color: $color-yellow-darker;
            }
        }
    }

    &__mobileMenuItem {
        @include display-flex(center);
        flex-direction: column;
        align-items: flex-start;

        & a {
            @include display-flex(center);
            gap: 0.1rem;
        }
    }

    &__arrowMobile {
        transition: all 0.4s ease;

        &--active {
            transform: rotate(180deg) !important;
        }
    }

    &__mobileSubMenu {
        @include display-flex(center);
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        padding-left: 1rem;

        &--active {
            max-height: 120px;
            transition: max-height 0.3s ease-in;
            padding-top: 0.3rem;
        }

        & a {
            font-weight: 500;
        }

        & span {
            color: $color-yellow-darker;
        }
    }

    &__dividerMobile {
        height: 1px;
        background-color: $color-yellow-darker;
        margin-left: 2rem;
        width: 198px;
    }
}