.practice {
    @include display-flex(center);
    flex-direction: column;
    margin: auto;
    gap: 3rem;
    margin-bottom: 5rem;
    background-color: $color-lightGrey;
    padding: 4rem 0.5rem 6rem 0.5rem;

    &__header {
        @include display-flex(center);
        flex-direction: column;
        gap: 1.4rem;
        max-width: 1150px;
        margin-bottom: 1rem;
    }

    &__heading {
        font-size: 2.2rem;
        text-transform: uppercase;
        white-space: nowrap; 
        overflow: hidden;
        color: $color-title;
        font-weight: 400;
    }

    &__symbol {
        @include display-flex(center);
        flex-direction: row;
        gap: 1.3rem;
        margin-bottom: 0.5rem;
    }

    &__line {
        height: 2px;
        width: 70px;
        background-color: $color-yellow-darker;
    }

    &__icon {
        @include display-flex(center);
        background-color: $color-yellow-darker;
        color: $color-light;
        font-size: 3rem;
        height: 60px;
        width: 60px;
        transform: rotate(-45deg);

        & span {
            transform: rotate(45deg);
            padding-top: 0.3rem;
        }
    }

    &__summary {
        max-width: 700px;
        text-align: center;
        font-size: 1rem;
    }

    &__body {
        @include display-flex(center);
        max-width: 1150px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    &__card {
        position: relative;
        height: 300px;
        width: 370px;
        z-index: 10;
        overflow: hidden;
        transition: all .5s;

        &:hover {
            & img {
                transform: scale(1.1);
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        object-fit: cover;
        transition: transform 0.5s;
    }

    &__cardOverlay {
        @include display-flex('flex-start');
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        background-color: rgba(187, 143, 24, 0.855);
        padding: 1.3rem;
        height: 100%;
        overflow: hidden;
        transition: all ease-out .5s;
    }

    &__bodyHeader {
        margin-bottom: 0.5rem;
        color: $color-white;
        position: relative;

        // &::after {
        //     content: '';
        //     position: absolute;
        //     height: 2px;
        //     width: 100%;
        //     top: 2.4rem;
        //     background-color: $color-white;
        // }
    }

    &__bodyIcon {
        font-size: 2.5rem;
        color: $color-white;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__description {
        font-size: 1rem;
        text-align: justify;
        margin-bottom: 1.5rem;
        color: $color-white;
    }

    &__link {
        @include display-flex('center');
        @include button;
        gap: 0.2rem;
        text-decoration: none;
        background-color: $color-white;
        color: $color-yellow-darker;
        font-weight: 500;

        &:hover {
            background-color: $color-lightGrey;
            color: $color-yellow-darkest;
        }
    }
}