@media (max-width: 1310px) {
    .navbar {
        &__container, &__topBarContainer {
            width: 90vw;
        }
    }
}

@media (max-width: 1200px) {
    .about {
        &__body {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            width: 700px;
        }

        &__imageContainer {
            height: 450px;
            width: 100%;
        }

        &__description {
            max-width: 700px;
        }
    }

    .practice {
        &__content {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;
        }

        &__card {
            height: 400px;
            width: 700px;

            &:hover .practice__cardOverlay {
                padding-top: 6rem;
            }
        }

        &__cardOverlay {
            height: 20%;
        }
    }

    .team {
        &__content {
            max-width: 750px !important;
        }
    }

    .blog {
        &__content {
            grid-template-columns: repeat(1, 1fr);
        }

        &__small {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.7rem;
        }
    }

    .testimonials {
        &__body {
            max-width: 760px !important;
        }

        &__quoteLeft {
            left: 2rem;
            top: 5rem;
        }
    
        &__quoteRight {
            right: 2rem;
            top: 5rem;
        }
    }

    .contact {
        &__wrapper {
            width: 90vw;
        }

        &__text {
            font-size: 1.3em
        }
    
        &__button {
            font-size: 0.95rem;
            white-space: nowrap;
        }
    }
}

@media (max-width: 950px) {
    .header {
        &__carouselItemTitle {
            font-size: 3rem;
        }
        
        &__carouselItemSubtitle {
            font-size: 1.7rem;
        }

        &__carouselItemDescription {
            font-size: 1rem;
            max-width: 550px;
        }

        &__arrows {
            display: none;
        }
    }

    .contact {
        &__wrapper {
            @include display-flex('center');
            flex-direction: column;
            gap: 0.9rem;
        }

    }
}

@media (max-width: 800px) {
    .navbar {
        &__topBarContainer {
            @include display-flex(space-between);
        }

        &__main {
            height: 65px
        }

        &__mainMobile {
            @include display-flex(space-between)
        }

        &__container {
            width: 90vw;
            @include display-flex(space-between);
        }

        &__menu {
            display: none;
        }

        &__hamburger {
            display: block;
        }

        &__topBarRight {
            @include display-flex(flex-end);
        }

        &__mainSocials {
            display: flex !important;
            gap: 0.3rem !important;
    
            & a {
                color: $color-title;
                font-size: 1.1rem !important;
                transition: color .3s ease-in;
                padding-top: 0.45rem;
    
                &:hover {
                    color: $color-dark;
                }
            }
        }

        &__topBarLocation {
            @include display-flex(center);
            font-size: 0.9rem;
        }

        &__icon {
            font-size: 1.3rem !important;
        }

        &__button {
            & a {
                padding: 0.8rem;
                font-weight: 400;
                font-size: 0.75rem;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        &__hamburgerMenu {
            top: 131px;
        }
    }

    .practice {
        &__card {
            width: 90vw;
        }
    }

    .team {
        &__content {
            max-width: 367px !important;
        }
    }

    .blog {
        &__big {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }

        &__small {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }

        
        &__card, &__cardMini {
            width: 90vw;
        }
        
        &__categoryMini, &__authorMini {
            font-size: 0.7rem;
        }

        &__imageMini {
            height: 140px;
            width: 30vw;
            position: relative;
    
            & img {
                position: absolute;
                height: 100%;
                object-fit: cover;
            }
        }
    
        &__bodyMini {
            width: 60vw;
            background: $color-white;
            padding: 0.1rem 1rem 0rem 1rem;
        }

        &__titleMini {
            font-size: 0.87rem;
        }

        &__descriptionMini {
            font-size: 0.83rem;
        }
    }

    .testimonials {
        &__body {
            width: 90vw !important;
        }
    }

    .contact {
        &__text {
            font-size: 1.3em
        }

        &__button {
            font-size: 0.9rem;
        }

    }
}

@media (max-width: 768px) {
    .navbar {
        &__topBarDetailsWrapper {

            &:nth-child(2) {
                display: none;
            }
        }

        &__topBarIcon {
            height: 45px;
            width: 45px;
            font-size: 1.6rem;

        }
    }

    .header {
        &__carouselItemTitle {
            font-size: 2.7rem;
        }
        
        &__carouselItemSubtitle {
            font-size: 1.4rem;
        }

        &__carouselItemDescription {
            font-size: 0.85rem;
            max-width: 450px;
        }
    }

    .about {
        &__summary {
            max-width: 550px;
        }

        &__body {
            width: 90vw;
        }

        &__imageContainer {
            height: 400px;
        }
    }

    .practice {
        &__summary {
            max-width: 550px;
        }
    }

    .team {
        &__summary {
            max-width: 550px;
        }
    }

    .blog {
        &__summary {
            max-width: 550px;
        }
    }

    .testimonials {

        &__summary {
            max-width: 550px;
        }

        &__title {
            font-size: 1.3rem;
        }

        &__description {
            font-size: 0.93rem;
        }

        &__quoteRight, &__quoteLeft {
            font-size: 2.1rem;
        }

        &__author {
            font-size: 0.9rem;
        }
    }

    .contact {
        &__text {
            font-size: 1.2em
        }

        &__button {
            font-size: 0.9rem;
        }

    }
}

@media (max-width: 600px) {
    .header {
        margin-bottom: 5rem;

        &__carouselItemTitle {
            font-size: 2.1rem;
        }
        
        &__carouselItemSubtitle {
            font-size: 1.2rem;
        }

        &__carouselItemDescription {
            font-size: 0.85rem;
            max-width: 370px;
        }
    }

    .about {
        &__heading {
            font-size: 1.8rem;
        }
    
        &__line {
            width: 65px;
        }
    
        &__icon {
            font-size: 2.3rem;
            height: 55px;
            width: 55px;
        }

        &__summary {
            max-width: 400px;
            font-size: 0.95rem;
        }

        &__body {
            width: 90vw;
        }

        &__imageContainer {
            height: 330px;
        }

        &__title {
            font-size: 1.65rem;
        }

        &__description {
            font-size: 0.93rem;
        }
    }

    .practice {
        &__heading {
            font-size: 1.8rem;
        }
    
        &__line {
            width: 65px;
        }
    
        &__icon {
            font-size: 2.3rem;
            height: 55px;
            width: 55px;
        }

        &__summary {
            max-width: 400px;
            font-size: 0.95rem;
        }

        &__card {
            height: 320px;

            &:hover .practice__cardOverlay {
                padding-top: 3.5rem;
            }
        }

        &__cardOverlay {
            height: 25%;
        }
    }

    .team {
        &__heading {
            font-size: 1.8rem;
        }
    
        &__line {
            width: 65px;
        }
    
        &__icon {
            font-size: 2.3rem;
            height: 55px;
            width: 55px;
        }

        &__summary {
            max-width: 400px;
            font-size: 0.95rem;
        }

        &__body {
            width: 90vw;
        }

        &__content {
            width: 95vw;
        }

        &__card {
            width: 100% !important;
        }
    }

    .blog {
        &__heading {
            font-size: 1.8rem;
        }
    
        &__line {
            width: 65px;
        }
    
        &__icon {
            font-size: 2.3rem;
            height: 55px;
            width: 55px;
        }

        &__summary {
            max-width: 400px;
            font-size: 0.95rem;
        }
    }

    .testimonials {
        &__heading {
            font-size: 1.8rem;
        }
    
        &__line {
            width: 65px;
        }
    
        &__icon {
            font-size: 2.3rem;
            height: 55px;
            width: 55px;
        }

        &__summary {
            max-width: 400px;
            font-size: 0.95rem;
        }

        &__title {
            font-size: 1.25rem;
        }

        &__description {
            font-size: 0.9rem;
        }

        &__quoteRight, &__quoteLeft {
            font-size: 2rem;
        }

        &__author {
            font-size: 0.92rem;
        }

        &__company {
            font-size: 0.9rem;
        }
    }

    .contact {
        padding: 2.5rem 1rem 2.5rem 1rem;

        &__text {
            font-size: 1.2em
        }

        &__button {
            font-size: 0.9rem;
        }

    }
}

@media (max-width: 450px) {
    .header {
        &__carouselItemContent {
            gap: 0.5rem;
        }

        &__carouselItemTitle {
            font-size: 1.9rem;
            margin-bottom: unset;
        }
        
        &__carouselItemSubtitle {
            font-size: 1rem;
            margin-bottom: 0.3rem;
        }

        &__carouselItemDescription {
            font-size: 0.8rem;
            max-width: 320px;
            margin-bottom: 0.7rem;
        }
    }

    .about {
        &__heading {
            font-size: 1.5rem;
        }
    
        &__line {
            width: 60px;
        }
    
        &__icon {
            font-size: 2.1rem;
            height: 52px;
            width: 52px;
        }

        &__summary {
            max-width: 350px;
            font-size: 0.9rem;
        }

        &__title {
            font-size: 1.5rem;
        }

        &__description {
            font-size: 0.9rem;
        }
    }

    .practice {
        &__heading {
            font-size: 1.5rem;
        }
    
        &__line {
            width: 60px;
        }
    
        &__icon {
            font-size: 2.1rem;
            height: 52px;
            width: 52px;
        }

        &__summary {
            max-width: 350px;
            font-size: 0.9rem;
        }

        &__card {
            height: 320px;

            &:hover .practice__cardOverlay {
                padding-top: 3rem;
            }
        }

        &__cardOverlay {
            height: 24%;
        }
    }

    .team {
        &__heading {
            font-size: 1.5rem;
        }
    
        &__line {
            width: 60px;
        }
    
        &__icon {
            font-size: 2.1rem;
            height: 52px;
            width: 52px;
        }

        &__summary {
            max-width: 350px;
            font-size: 0.9rem;
        }

        &__content {
            width: 100%;
        }

        &__card {
            width: 100% !important;
        }
    }

    .blog {
        &__heading {
            font-size: 1.5rem;
        }
    
        &__line {
            width: 60px;
        }
    
        &__icon {
            font-size: 2.1rem;
            height: 52px;
            width: 52px;
        }

        &__summary {
            max-width: 350px;
            font-size: 0.9rem;
        }
    }

    .testimonials {
        &__heading {
            font-size: 1.5rem;
        }
    
        &__line {
            width: 60px;
        }
    
        &__icon {
            font-size: 2.1rem;
            height: 52px;
            width: 52px;
        }

        &__summary {
            max-width: 350px;
            font-size: 0.9rem;
        }

        &__content, &__body {
            height: 100% !important;
        }

        &__title {
            font-size: 1.2rem;
            padding: 0 3rem 0 3rem;
        }

        &__description {
            font-size: 0.85rem;
            padding: 0 4rem 0 4rem;
        }

        &__quoteRight {
            font-size: 1.95rem;
            right: 1rem;
            top: 7rem;
        }
        
        
        &__quoteLeft {
            font-size: 1.95rem;
            left: 1rem;
            top: 7rem;
        }

        &__author {
            font-size: 0.92rem;
        }

        &__company {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 400px) {
    .team {
        &__content {
            width: 100%;
            padding: 1.2rem;
        }
    }
}